<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.east.architect_zenghui">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".architect_28_okhttp6.OkHttp6Activity"></activity>
        <activity android:name=".architect_27_okhttp5.OkHttp5Activity" />
        <activity android:name=".architect_26_okhttp4.OkHttp4Activity" />
        <activity android:name=".architect_25_okhttp3.OkHttp3Activity" />
        <activity android:name=".architect_24_okhttp2.OkHttp2Activity" />
        <activity android:name=".architect_22_eventbus.TestActivity" />
        <activity android:name=".architect_22_eventbus.EventBusActivity" />
        <activity android:name=".architect_19_designmode12_responsibility_chain.ResponsibilityChainActivity" />
        <activity android:name=".architect_18_designmode11_iteration.IterationActivity" />
        <activity android:name=".architect17_designmode10_prototype.PrototypeActivity" />
        <activity android:name=".architect16_designmode9_proxy.ProxyActivity" />
        <activity android:name=".architect15_designmode8_observe.simple4.InsuranceActivity" />
        <activity android:name=".architect15_designmode8_observe.ObserveActivity" />
        <activity android:name=".architect14_designmode7_adapter.AdapterActivity" />
        <activity android:name=".architect13_Designmode6_strategy.StrategyActivity" />
        <activity android:name=".architect12_Designmode5_tempolate.TemplateActivity" />
        <activity android:name=".architect11_Designmode4_decorator.DecoratorActivity" />
        <activity android:name=".architect10_designmode3_factory.simple6_abstract_factory_mode_singleton.TestActivity" />
        <activity android:name=".architect10_designmode3_factory.simple5_abstract_factory_mode.TestActivity" />
        <activity android:name=".architect10_designmode3_factory.simple4_factory_method_mode.TestActivity" />
        <activity android:name=".architect10_designmode3_factory.simple3_simple_factory_mode.TestActivity" />
        <activity android:name=".architect10_designmode3_factory.simple2_preferenceutil.TestActivity" />
        <activity android:name=".architect10_designmode3_factory.simple1_normal_preference.TestActivity" />
        <activity android:name=".architect10_designmode3_factory.FactoryActivity" />
        <activity android:name=".architect9_designmode2_builder.BuilderActivity" />
        <activity android:name=".architect8_designmode1_singleton.RegisterActivity" />
        <activity android:name=".architect8_designmode1_singleton.MyMainActivity" />
        <activity android:name=".architect8_designmode1_singleton.LoginActivity" />
        <activity android:name=".architect6_handler.HandlerActivity" />
        <activity android:name=".architect5_butterknife.ButterKnifeActivity" />
        <activity android:name=".architect4_reflect_annotation_generics.ReflectAnnotationGenericsActivity" />
        <activity android:name=".architect2_aop.AopActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>