<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.east.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".custom_redpacket.RedPackageActivity"></activity>
        <activity android:name=".parallax2_yahu_splash.ParallaxYahuActivity" />
        <activity android:name=".parallax1_kugou_splash.ParallaxKugouActivity" />
        <activity android:name=".besier3_huajiao_praise.HuajiaoPraiseActivity" />
        <activity android:name=".besier2_messagebubbleview.DragBombActivity" />
        <activity android:name=".besier1_messagebubbleview.MessageBubbleActivity" />
        <activity android:name=".huashu_loading.HuaShuLoadingActivity" />
        <activity android:name=".list_data_screen.ListDataScreenActivity" />
        <activity
            android:name=".fang58.Fang58Activity"
            android:theme="@style/AppTheme" />
        <activity android:name=".custom_behavior.CustomBehaviorActivity" />
        <activity android:name=".material_design_1.FruitActivity" />
        <activity android:name=".material_design_1.SimplePracticeActivity" />
        <activity android:name=".custom_lockpattern.LockPatternActivity" />
        <activity android:name=".custom_car_home.CarHomeActivity" />
        <activity android:name=".custom_qq.QQSlidingMenuActivity" />
        <activity android:name=".custom_kugou.KugouSlidingMenuActivity" />
        <activity android:name=".viewgroup_touch.ViewGroupTouchActivity" />
        <activity android:name=".view_touch.ViewTouchActivity" />
        <activity android:name=".custom_tablayout.CustomTabLayoutActivity" />
        <activity android:name=".view_draw_process.ViewDrawProcessActivity" />
        <activity android:name=".custom_letterside.LetterSideActivity" />
        <activity android:name=".custom_ratingbar.CustomRatingBarActivity" />
        <activity android:name=".practice_paint.PracticePaintActivity" />
        <activity android:name=".custom_changecolor.ViewPagerActivity" />
        <activity android:name=".custom_changecolor.ChangeColorActivity" />
        <activity android:name=".custom_qqarc.QQArcActivity" />
        <activity android:name=".customtextview.CustomTextViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>