<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.east.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".custom_letterside.LetterSideActivity"></activity>
        <activity android:name=".custom_ratingbar.CustomRatingBarActivity" />
        <activity android:name=".practice_paint.PracticePaintActivity" />
        <activity android:name=".custom_changecolor.ViewPagerActivity" />
        <activity android:name=".custom_changecolor.ChangeColorActivity" />
        <activity android:name=".custom_qqarc.QQArcActivity" />
        <activity android:name=".customtextview.CustomTextViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>